@using BurgerStore.Data

@foreach (var burger in Order.Burgers)
{
    <p>
        <strong>
            @if (burger.Bun != null)
            {
            <span>@burger.Bun.Name Bun</span>
            }
            else
            {
                <span>No Bun</span>
            }
            (£@burger.GetFormattedBurgerPrice())
        </strong>
    </p>

    <ul>
        @foreach (var burgerPatty in burger.BurgerPatties.OrderBy(burgerPatty => burgerPatty.SortOrder))
        {
        <li>+ @burgerPatty.Patty.Name</li>
        }
    </ul>
}

<p>
    <strong>
        Total price:
        £@Order.GetFormattedOrderPrice()
    </strong>
</p>

@code {
    [Parameter] public Order Order { get; set; }
}