@page "/myorders"

@using BurgerStore.Data
@*@inject OrderService OrderService*@
@inject OrderController OrderController

<div class="main">
    @if (orders == null)
    {
        <text>Loading...</text>
    }
    else if (!orders.Any())
    {
        <h2>No orders placed</h2>
        <a class="btn btn-success" href="">Order some burgers</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var order in orders)
            {
                var item = OrderWithStatus.UpdateStatus(order);
                <div class="list-group-item">
                    <div class="col">
                        <h5>@item.Order.CreatedTime.ToLongDateString()</h5>
                        Items:
                        <strong>@item.Order.Burgers.Count()</strong>;
                        Total price:
                        <strong>£@item.Order.GetFormattedOrderPrice()</strong>
                    </div>
                    <div class="col">
                        Status: <strong>@item.StatusText</strong>
                    </div>
                    <div class="col flex-grow-0">
                        <a href="myorders/@item.Order.OrderID" class="btn btn-success">
                            Track &gt;
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    List<Order> orders;

    protected override async Task OnParametersSetAsync()
    {

        orders = await OrderController.GetOrders();

    }
}